*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedede;
}


#login {
    height: 100vh;
}


#login form {
    background-color: white
}

.logomarca img {
    display: flex;
    height: 100vh;
    width:  100vh;
}

.logomarca {
    display: flex;
    justify-content: center;
    align-items: center;
}

